@model Flores_De_Mayo_Information_System.Models.Entity.AspNetUserRole

@{
    ViewBag.Title = "_EditUserRole";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";

    List<SelectListItem> selectRole = new List<SelectListItem>();

    foreach(var item in TempData["roles"] as List<Flores_De_Mayo_Information_System.Models.Entity.AspNetRole>)
    {
        selectRole.Add( new SelectListItem() { 
            Value = item.Id,
            Text = item.Name
        });
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" disabled style="font-size:26px" class="form-control-plaintext border rounded p-2 text-center" value="@Model.AspNetUser.SinisianDatabase.LastName, @Model.AspNetUser.SinisianDatabase.FirstName @Model.AspNetUser.SinisianDatabase.MiddleName" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.RoleId, selectRole, Model.AspNetRole.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
