@model Flores_De_Mayo_Information_System.Models.Entity.AlayanDate

@{
    ViewBag.Title = "_EditSelectedDate";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";

    List<SelectListItem> types = new List<SelectListItem>();

    foreach (var item in TempData["dateType"] as List<Flores_De_Mayo_Information_System.Models.Entity.AlayanDateType>)
    {
        if(item.ADTypId == Model.ADTypId)
        {
            continue;
        }

        types.Add( new SelectListItem() {
            Text = item.Name,
            Value = item.ADTypId.ToString()
        } );
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ADatId)
    @Html.HiddenFor(model => model.Date)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" disabled style="font-size:26px" class="form-control-plaintext border rounded p-2 text-center" value="May @Model.Date, @DateTime.Now.Year" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADTypId, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.ADTypId, types, Model.AlayanDateType.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ADTypId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
