@model IEnumerable<Flores_De_Mayo_Information_System.Models.Entity.Application>

@{
    ViewBag.Title = "DIsplayApplications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<SelectListItem> dropAppType = new List<SelectListItem>();
    var selectedAppTypeInd = 0;
    foreach (var item in TempData["applicationTypes"] as List<Flores_De_Mayo_Information_System.Models.Entity.ApplicationType>)
    {

        dropAppType.Add(new SelectListItem
        {
            Text = item.Name,
            Value = item.Name
        });

        if (TempData["selectedAppType"].ToString() == item.Name)
        {
            selectedAppTypeInd = item.ATypeId;
        }

    }

    var selectedAppType = (string)TempData["selectedAppType"];

}


@try
{
    <h2>@Model.FirstOrDefault().ApplicationType.Name.ToUpper() Application</h2>
}
catch
{
    <h2>Applications</h2>
    <p style="color:red">No record found. @TempData["erorrMsg"]</p>
}

@*<p>#add mo yung all option, para lahat ng application idispplay</p>*@

<div class="mt-3 mb-3">

    <div class="form-inline">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-inline">

                <div class="form-group">
                    <label for="select" class="control-label mr-2">Application Type</label>
                    <div class="col-md-4">
                        <select class="form-control" name="appType">


                            @foreach (var item in dropAppType)
                            {
                                if (item.Text.ToLower() == selectedAppType.ToLower())
                                {
                                    <option selected>@item.Text</option>
                                }
                                else
                                {
                                    <option>@item.Text</option>
                                }

                            }

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </div>
                </div>

            </div>
        }

        <div class="form-group">
            <button class="btn btn-primary m-4" onclick="Add(@selectedAppTypeInd)">Add</button>
        </div>

    </div>

</div>


<table class="table table-responsive-md no-wrap dt-responsive" id="example">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Application Status
            </th>

            <th>
                Date Applied
            </th>
            <th>
                Date Evaluated
            </th>
            <th>
                Evaluated By
            </th>
            <th>
                Rerence Number
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@item.SinisianDatabase.LastName</b>, @item.SinisianDatabase.FirstName @item.SinisianDatabase.MiddleName
                </td>
                <td>
                    @item.ApplicationStatusType.Name
                </td>
                <td>
                    @item.DateSetting.Year.Value.ToString("MMMM") @item.DateSetting.Year.Value.Year
                </td>

                @if (item.DSetIdEvaluated == null && item.UserIdEvaluated == null)
                {
                    <td>N/A</td>
                    <td>N/A</td>
                }
                else
                {
                    <td>
                        @item.DateSetting.Year.Value.ToString("MMMM") @item.DateSetting.Year.Value.Year
                    </td>
                    <td>
                        @item.AspNetUser.UserName
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.RerenceNum)
                </td>

                @{
                    var disabled = "btn btn-primary m-1";
                    if (item.ApplicationStatusType.Name == "Approved")
                    {
                        disabled = "btn btn-secondary m-1 disabled";
                    }
                }

                <td>
                    <a href="@Url.Action("EvaluateApplication", "Application", new { appId = item.AppId })" class=" @disabled" onclick="return confirm('Are you sure you want to approve this application?');">
                        Approve
                    </a>

                    @*<a href=""  class="btn btn-primary m-2 mx-auto" onclick="return confirm('Are you sure you want to approve this application?');">
                        Expand
                    </a>*@
                    <button class="btn btn-primary m-1" onclick="Edit(@item.AppId)">Expand</button>
                    <a href="@Url.Action("DeleteApplication", "Application", new { appId = item.AppId})" class="btn btn-danger m-1" onclick="return confirm('Are you sure you want to approve this application?');">Remove</a>

                </td>

            </tr>
        }
    </tbody>

</table>

<div class="modal fade rounded" id="modal-for-editing" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-color:#008d88">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Edit Application</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #000000;">&times;</a>
            </div>

            <div class="modal-body" id="modal-editing-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade rounded" id="modal-for-adding" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-color:#008d88">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Add Application</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #000000;">&times;</a>
            </div>

            <div class="modal-body" id="modal-adding-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var Edit = function (id) {

            var url = "/Application/EditApplication?appId=" + id;

            $("#modal-editing-body").load(url, function () {
                $("#modal-for-editing").modal("show");

            })

        }

        var url = ""

        var Add = function (id) {

            var url = "/Application/AddApplication?appType=" + id;

            $("#modal-adding-body").load(url, function () {
                $("#modal-for-adding").modal("show");

            })

        }

        $(document).ready(function() {
            $('#example').DataTable();
            $('.dataTables_length').addClass('bs-select');

        } );
    </script>

}